.navbar-default {
	margin-bottom: 0;
	border: none;
	border-radius: 0;
	background-color: #000;
}

#jumbo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: 
	linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4)
    ),
	url('../images/top3.jpg');
	background-size: cover;
	background-position: center;
	height: 100vh;
	margin-bottom: 0;
}


#jumbo-container h1, h3 {
	color: #fff;
} 

.jumbotron {
	background-color: transparent;
}

.cta-button {
    background-color: #F1AD1F;
    margin-top: 20px;
    color: black;
    font-size: 20px;
    cursor: pointer;
    color: #fff;

}

.cta-button:hover {
	background-color: #f3bd4b;
	transform: scale(1.1);
	color: #fff;
}

#main-container {
	background-color: #fff;
	background-size: cover;
    padding: 50px 0px;
    text-align: center;
}

.thumbnail {
	background-color: #013A6B;
	background-size: cover;
    background-image: -webkit-linear-gradient(30deg, #F1AD1F 50%, #f3bd4b 50%);
	padding: 30px;
	border: 0px;
}


#container-program {
	background-image: url('../images/img11.jpg');
    padding: 70px 0px;
    
   }

blockquote {
	color: #fff;
}

#container-info {
	 background-image: -webkit-linear-gradient(30deg, #F1AD1F 50%, #f3bd4b 50%);
	 clip-path: polygon(0 0, 0 100%, 100% 200px, 100% 0);
	 padding: 70px 0px;
	 overflow: visible;
}

footer{
	background-color: #222222;
	padding: 70px;
	color: #fff;
}